.registration {
  max-width: 500px;
  margin: 0 auto;
}

.registration-heading {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 3px;
}

label {
  display: block;
  margin: 0px 0px 15px 0px;
}

label>span {
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}

input.input-field, button {
  width: 48%;
}

button {
    box-sizing: border-box;
    margin-left: 21%;
    width: 37%;
}

body label > input.exclude {
    width: auto;
    font-weight: normal;
}

input.input-field,
.registration .textarea-field {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
  font-weight: bold;
}

.errors {
 color: red;
 display: inline-block;
 margin-left: 5px;
}
