<body>
  <div class="registration">
    <h2 class="registration-heading">Регистрация</h2>
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <label for="nickname">
        <span>Никнейм:</span>
        <input formControlName="nickname" type="text" class="input-field" name="nickname" required>
        <div *ngIf="nickname.touched && nickname.invalid" class="errors">
          <div *ngIf="nickname.errors.required">Требуется никнейм </div>
          <div *ngIf="nickname.errors.nicknameInUse">Человек с этим никнеймом уже зарегистрирован.</div>
          <div *ngIf="nickname.errors.pattern">Только латинские буквы и цифры и должны начинаться с буквы.</div>
        </div>
      </label>
      <label for="name">
        <span>Имя:</span>
        <input formControlName="firstname" type="text" class="input-field" name="firstname" required>
        <div *ngIf="firstname.touched && firstname.invalid" class="errors">
          <div *ngIf="firstname.errors.required">Требуется имя</div>
          <div *ngIf="firstname.errors.pattern">Допускаются только русские буквы.</div>
        </div>
      </label>
      <label for="surname">
        <span>Фамилия:</span>
        <input formControlName="surname" type="text" class="input-field" name="surname" required>
        <div *ngIf="surname.touched && surname.invalid" class="errors">
          <div *ngIf="surname.errors.required">Требуется фамилия</div>
          <div *ngIf="surname.errors.pattern">Допускаются только русские буквы.</div>
        </div>
      </label>
      <label for="email">
        <span>Электронная почта:</span>
        <input formControlName="email" type="email" class="input-field exclude" name="email" required>
        <div *ngIf="email.touched && email.invalid" class="errors">
          <div *ngIf="email.errors.required">Требуется почта</div>
          <div *ngIf="email.errors.email && email.value">Электронная почта должна быть действительной</div>
        </div>
      </label>
      <label for="password">
        <span>Пароль:</span>
        <input formControlName="password" type="password" class="input-field exclude" name="password" required>
        <div *ngIf="password.touched && password.invalid" class="errors">
          <div *ngIf="password.errors.required">Требуется пароль</div>
          <div *ngIf="password.errors.minlength">Пожалуйста, выдумайте пароль длиннее 5 символов</div>
        </div>
      </label>
      <button type="submit" [disabled]="form.invalid">Готово</button>
    </form>
  </div>

  <!-- <ul>
    <li *ngFor="let user of users">{{user.nickname}}</li>
  </ul> -->

</body>